@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}

.App-container {
    height: 100vh;
    width: 100vw;
}

.Header-container {
    width: 100%;
    height: 80px;
    background-color: #232323;
}

.Header-container .Navbar{
    padding-top: 1rem;
}

.Header-container .Navbar .Logo em {
    color: #f33f3f;
    font-style: normal;
}

.Header-container .Navbar .Logo {
    text-transform: uppercase;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 800;
    cursor: pointer;
    float: left;
    padding-left: 4rem;
}

.Navbar .Nav-list{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.Navbar .Nav-list li {
    letter-spacing: 0.5px;
    margin: 1rem 1.5rem;
    cursor: pointer;
    color: #fff;
}

.Navbar .Underline-hover li {
    display: inline-block;
    position: relative;
}

.Navbar .Underline-hover li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #f33f3f; 
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.Navbar .Underline-hover li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.Cart-container{
    display: flex;
    justify-content: flex-end;
    color: #fff;
    font-size: 1.7rem;
    margin: -38px;
    padding-right: 6rem;
    cursor: pointer;
}

.Greeting-info {
    margin: 0px 7px 10px;
    padding: 3px;
    width: 22px;
    height: 22px;
    background-color: #f33f3f;
    border-radius: 50%;
    text-align: center;
    font-size: 1rem;
}

.News-container {
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
}

.News-container img {
    width: 100%;
    height: auto;
}

.News-container .Centered-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Centered-title .Sub-title {
    color: #f33f3f;
    font-size: 2.5rem;
}

.Centered-title .Main-title {
    color: #fff;
    font-size: 4rem;
}

.App-container .Count-container {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App-container .Count-container .Counter-button {
    border: none;
    background-color: #f33f3f;
    color: #fff;
    font-size: 1rem;
    padding: 0.3rem 1rem;
}

.App-container .Count-container .Add-cart-container {
    margin-left: 2rem;
}

.App-container .Count-container .Add-cart-container .Cart-button {
    border: none;
    background-color: #f33f3f;
    color: #fff;
    font-size: 1rem;
    padding: 1rem 2rem;
}

.App-container .Count-container .Counter {
    margin: 1rem;
}