
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App-container {
    height: 100vh;
    width: 100vw;
}

.Header-container {
    width: 100%;
    height: 80px;
    background-color: #232323;
}

.Header-container .Navbar{
    padding-top: 1rem;
}

.Header-container .Navbar .Logo em {
    color: #f33f3f;
    font-style: normal;
}

.Header-container .Navbar .Logo {
    text-transform: uppercase;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 800;
    cursor: pointer;
    float: left;
    padding-left: 4rem;
}

.Navbar .Nav-list{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.Navbar .Nav-list li {
    letter-spacing: 0.5px;
    margin: 1rem 1.5rem;
}

.Navbar .Nav-list li .Header-link {
    text-decoration: none;
    color: #fff;
}

.Header-container .Cart-container .Cart-link {
    text-decoration: none;
    color: #fff;
}

.Navbar .Underline-hover li {
    display: inline-block;
    position: relative;
}

.Navbar .Underline-hover li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #f33f3f; 
    transform-origin: center;
    transition: transform 0.25s ease-out;
}

.Navbar .Underline-hover li:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

.Cart-container{
    display: flex;
    justify-content: flex-end;
    font-size: 1.7rem;
    margin: -38px;
    padding-right: 6rem;
    cursor: pointer;
}

.Greeting-info {
    margin: 0px 7px 10px;
    padding: 3px;
    width: 22px;
    height: 22px;
    background-color: #f33f3f;
    border-radius: 50%;
    text-align: center;
    font-size: 1rem;
}

.News-container {
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
}

.News-container img {
    width: 100%;
    max-height: auto;
}

.News-container .Centered-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Centered-title .Sub-title {
    color: #f33f3f;
    font-size: 2.5rem;
}

.Centered-title .Main-title {
    color: #fff;
    font-size: 4rem;
}

.App-container .Count-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 0.7rem;
    padding-left: 1rem;
}

.App-container .Count-container .Counter-button {
    border: none;
    border-radius: 16px;
    background-color: #f33f3f;
    color: #fff;
    font-size: 1rem;
    padding: 0.2rem 0.3rem;
    cursor: pointer;
}

.App-container .Count-container .Add-cart-container {
    margin-left: 1rem;
}

.App-container .Count-container .Add-cart-container .Cart-button {
    border: none;
    border-radius: 16px;
    background-color: #f33f3f;
    color: #fff;
    font-size: 1rem;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
}

.App-container .Count-container .Counter {
    margin: 0.3rem;
    font-size: 1rem;
}

.App-container .Item-container {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.App-container .Items-title {
    font-size: 2.5rem;
    margin: 1rem;
    padding-top: 3rem;
}

.App-container .Item-container .Product-card {
    margin: 1rem;
    width: 275px;
    height: 450px;
    min-height: auto;
    min-width: auto;
    cursor: pointer;
    transition: all 500ms ease;
    flex: 1 16%;
}

.App-container .Item-container .Product-card:hover {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.App-container .Item-container .Product-card img {
    width: 100%;
    max-height: auto;
}


.App-container .Item-container .Product-card .Item-link {
    text-decoration: none;
    color: #000;
}

.App-container .Item-container .Product-card .Item-name {
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 1.1rem;
    font-weight: 300;

}

.App-container .Item-container .Product-card .Item-price {
    padding-left: 1rem;
    font-weight: 600;
    font-size: 1.1rem;
}

.App-container .Item-container .Product-card .Item-description {
    padding-left: 10px;
}

.Item-container .Product-card .Checkout-link {
    display: flex;
    justify-content: center;
    padding: 0.7rem 0.8rem;
    text-decoration: none;
}

.Item-container .Product-card .Checkout-button {
    border: none;
    border-radius: 16px;
    background-color: #f33f3f;
    color: #fff;
    font-size: 1rem;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
}    

.filters .Filters-title {
    margin-left: 1rem;
}

.filters .Brand-filter {
    margin: 0.8rem;
    width: 20px;
    height: 25px;
    text-decoration: none;
    color: #000;
    transition: all 100ms ease-out;
}

.filters .Brand-filter:hover {
    color: #f33f3f;
}